/* 기본적으로 스크롤바를 숨김 */
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 0;  /* 기본적으로 투명하게 설정 */
  transition: opacity 0.2s ease-in-out;
}

/* 스크롤이 동작할 때만 보이도록 설정 */
.scroll:hover::-webkit-scrollbar,
.scroll:active::-webkit-scrollbar,
.scroll:focus::-webkit-scrollbar {
  opacity: 1; /* 마우스 호버, 클릭 시 보이도록 설정 */
}

/* 트랙 (배경) */
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 핸들 (막대) */
.scroll::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

/* 스크롤바 버튼 제거 */
.scroll::-webkit-scrollbar-button {
  display: none;
}
