.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.wrong-answer-modal {
  width: 85%;
  max-width: 35rem;
  height: 78%;
}

.ranking-modal {
  width: 80%;
  max-width: 35rem;
  height: 80%;
}
