/* Swiper 기본 설정 */
.swiper {
    padding-bottom: 40px;
  }
  
  /* Swiper Pagination Bullet 스타일 */
  .swiper-pagination-bullet {
    background-color: var(--placeholder-color); /* 기본 도트 색상 */
    opacity: 0.6; /* 도트의 투명도 */
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--primary-color); /* 활성화된 도트 색상 */
    opacity: 1; /* 활성화된 도트의 투명도 */
  }
  
  /* Swiper Slide 스타일 */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    box-shadow: var(--small-shadow);
    transition: all 0.3s ease;
    opacity: 0.5; /* 기본적으로 모든 슬라이드를 연하게 설정 */
    transform: scale(0.9); /* 기본적으로 모든 슬라이드를 약간 축소 */
  }
  
  /* Swiper Slide 커스텀 효과 */
  .swiper .swiper-slide::after {
    position: absolute;
    top: 0;
    left: 0;
  }