/* 방법 1: slick-slide에 margin 적용 */
.news-carousell .slick-track {
  display: flex;
  height: 200px;
}

.news-carousel .slick-slide {
  margin: 0 4px;
   width: 120px;
}

.news-carousel .slick-list {
  margin: 0 -8px;
  overflow: hidden;
}

.news-carousel .slick-slide > div {
  margin: 0 1px;
  width: 100%;
  
}

.news-carousel .slick-list {
  margin: 0 -8px;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
